<h1><small>¿ Que ofrecemos ?</small></h1>

<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col tar" *ngFor="let product of productos">
    <div class="card h-100">
      <img [src]="product.img" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ product.nombre }}</h5>
        <p class="card-text">{{ product.bio }}</p>
      </div>
      <div class="card-footer text-center">
          <button type="button"  class="btn btn-outline-primary btn-block view">
              Ver más...
          </button>
      </div>
    </div>
  </div>
</div>

<app-products-r></app-products-r>