<!-- Footer -->
<footer class="page-footer font-small mdb-color pt-4">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

      <!-- Footer links -->
      <div class="row text-center text-md-left mt-3 pb-3">

        <!-- Grid column -->
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-1">
          <h6 class="text-uppercase mb-4 font-weight-bold">Servicios Generales D&H</h6>
          <p>
            Somos una empresa competitiva y actualizada, prestadora de los servicios generales de excelente
            calidad, confiable, eficiente y eficacia. 
          </p>
        </div>
        <!-- Grid column -->

        <hr class="w-100 clearfix d-md-none">

        <!-- Grid column -->
        <div class="col-md-5 col-lg-5 col-xl-5 mx-auto mt-1">
          <h6 class="text-uppercase mb-4 font-weight-bold">Productos</h6>
          <p>
            •	Reparaciones locativas en general.
            <br>
            •	 Diseño y mantenimiento de jardinería y zonas verdes.
            <br>
            •	Apodamiento y rocerías.
            <br>
            •	Manejo integrado de plagas.
            <br>
            •	Aseo especializado en interiores y exteriores.
            <br>
            •	Lavado de fachadas, casas e instituciones
          </p>
         
        </div>
        <!-- Grid column -->

        <hr class="w-100 clearfix d-md-none">

        <!-- Grid column -->
        <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mt-1">
          <h6 class="text-uppercase mb-4 font-weight-bold">Contactanos</h6>
          <p>
            <i class="fas fa-map-marker-alt"></i> Carrera 12 #13-82 Manizales - Caldas
          </p>
          <p>
            <i class="fas fa-mail-bulk"></i> dsy010173@hotmail.com.ar
          </p>
          <p>
            <i class="fas fa-mobile"></i> + 57 313-555-4239 - 312-409-9026
          </p>
          <p>
                <a mdbBtn class="icon" size="md" href="https://api.whatsapp.com/send?phone=573124099026&text=Buen%20d%C3%ADa,%20en%20que%20te%20puedo%20colaborar?">
                    <i class="fab fa-whatsapp"></i> 
                </a>
                <a mdbBtn size="md" class="icon" href="https://www.facebook.com/Servicios-Generales-Desiderio-Hernandez-323475371750436">
                    <i class="fab fa-facebook"></i>
                </a>
                <a mdbBtn href="https://www.instagram.com/serviciosgmzles/" size="md" class="icon" >
                    <i class="fab fa-instagram"></i>
                </a>
          </p>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Footer links -->

      <hr>

      <!-- Grid row -->
      <div class="row d-flex align-items-center">

        <!-- Grid column -->
        <div class="col-md-4 offset-5 col-lg-8">

          <!--Copyright-->
          <p class="text-center text-md-left">© 2021 Copyright:
            <a href="">
              <strong>AppDev.com</strong>
            </a>
          </p>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

  </footer>
  <!-- Footer -->

