<div class="row row-cols-1 row-cols-md-3 g-4 p-5 ">
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title text-center"> POLÍTICA DE CALIDAD </h5>
        <p class="card-text pt-2">
            Nuestro compromiso es la dedicación y constancia para satisfacer a nuestros clientes en todas sus
            necesidades, ofreciéndoles un servicio de calidad, contamos con el personal calificado para todo el
            cubrimiento de los servicios prestados.
        </p>
      </div>
      
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title text-center"> BENEFICIOS </h5>
        <p class="card-text pt-2">
            Trabajamos a un nivel socio económico, donde nuestros clientes quedan satisfechos con los precios
            que manejamos dentro y fuera del municipio de Manizales.
        </p>
      </div>
      
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title text-center"> VENTAJAS </h5>
        <p class="card-text pt-2">
            •	Puntualidad y calidad en todos nuestros servicios.
            <br>
            •	Seguridad y confianza.
            <br>
            •	Precios asequibles. 
        </p>
      </div>
      
    </div>
  </div>
</div>
