 <!-- <div class="card-group">

    <div class="card row  row-cols-md-1">
        <div class="col" >
            <div class="card-body">
                <img src="assets/img/mision.png" class="card-img-top" width="30" height="180">
                <p>
                  
                </p>
            </div>
        </div>
    </div>
    <div class="card row ">
        <div class="col md-12" >
            <div class="card-body">
                <p class="card-text">
                    Somos una empresa competitiva y actualizada, prestadora de los servicios generales de excelente
                    calidad, confiable, eficiente y eficaz que con un personal profesional competente y comprometido,
                    logramos que nuestros clientes queden satisfechos y reciban un buen servicio que cubra todas sus necesidades. 
                </p>
            </div>
        </div>
    </div>



    <div class="card row  row-cols-md-1 p0">
        <div class="col" >
            <div class="card-body">
                <img src="assets/img/vision.png" class="card-img-top" width="30" height="180">
                <p class="card-text text-center"> 
                </p>
            </div>
        </div>
    </div>
    <div class="card row  row-cols-md-1">
        <div class="col" >
            <div class="card-body">
                <p class="card-text">
                    Ser una empresa con amplia cobertura dentro y fuera del municipio de Manizales,
                    en donde tengamos un reconocimiento de nuestras actividades de servicios a nuestros clientes.
                </p>
            </div>
        </div>
    </div>
    
    

    

    
</div> -->

<!-- <div class="row">
    <div class="col-sm-2">
      <div class="card">
        <div class="card-body text-center">
            <img src="assets/img/mision.png" class="card-img-top" width="30" height="180">
        </div>
      </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
          <div class="card-body text-center">
            <p class="card-text">
                Somos una empresa competitiva y actualizada, prestadora de los servicios generales de excelente
                calidad, confiable, eficiente y eficaz que con un personal profesional competente y comprometido,
                logramos que nuestros clientes queden satisfechos y reciban un buen servicio que cubra todas sus necesidades. 
            </p>
          </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <div class="card-body text-center">
                <img src="assets/img/vision.png" class="card-img-top" width="30" height="180">
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <div class="card-body text-center">
                <p class="card-text">
                    Ser una empresa con amplia cobertura dentro y fuera del municipio de Manizales,
                    en donde tengamos un reconocimiento de nuestras actividades de servicios a nuestros clientes.
                </p>
            </div>
        </div>
    </div>
</div> -->

